#mapdiv {
	width: 500px;
	height: 300px;
	background-color: #00FF00;
	float: right;
	position:absolute;
	right: 100px;
	top: 30px;
}

#container {
	width: 500px;
	height: 300px;
}

body {
	font-family: 'Helvetica';
}

th {
	text-align: left;
}

table, th, td {
	border-collapse: collapse;
	border: solid 1px;
	padding: 0 5px 0 5px;
}

fieldset {
	border: none;
	display: none;
}

#one {
	display: block;
}