#mapdiv {
	width: 60%;
	height: 450px;
	float: right;
	background-color: #00FF00;
	display: block;
}

#accordion {
	display: block;
	width: 35%;
}

body {
	font-family: 'Helvetica';
}

th {
	text-align: left;
}

table, th, td {
	border-collapse: collapse;
	border: solid 1px;
	padding: 0 5px 0 5px;
}

fieldset {
	border: none;
	display: none;
}

#one {
	display: block;
}

#output, #results {
	display: block;
}

#request {
height:60px;
border: none;

}

#inputs {
height: 250px;
}

#accordion-resizer {
    padding: 10px;
    width: 200px;
    height: 220px;
  }

h2 {
background-color: #F2E4DC;
padding: 5px;
}


body {
background-color: #D9BEA7;
}
